{% extends 'ZechimAppBundle::Dispatcher/show.html.twig' %}

{% block loop_item %}
    <tr>
        <td width="120px"><b>{{ 'trans.label.name' | trans }}</b></td>
        <td>{{ entity.name }}</td>
    </tr>

    <tr>
        <td width="120px"><b>{{ 'trans.label.rules' | trans }}</b></td>
        <td>{{ parameters.rules }}</td>
    </tr>

{% endblock %}