{% extends 'ZechimAppBundle::Default/crud/create.html.twig' %}

{% set back = actions.getByAction('index').dispatcherRoute.generate(router, null, {request: request}) %}
{% set form_action = actions.getByAction('create').dispatcherRoute.generate(router, null, {request: request}) %}

{% block form_right %}
    {{ form_rest(form) }}

{% endblock %}
