{% extends 'ZechimAppBundle::Default/crud/index.html.twig' %}

{% block action %}
    {% include 'ZechimAppBundle::Default/crud/actions.html.twig' with
        {
            'actions': actions.getByToolbar('toolbar'),
            'entity': '',
            'router': router
        }
    %}

    <br /><br />
{% endblock %}


{% block thead %}
    {% for field in fields %}
        <th>{{ field.label | trans }}</th>

    {% endfor %}

{% endblock %}

{% block tbody %}
    {% for entity in pagination.result %}
        <tr>
            {% block loop_item %}
                {% for field in fields %}
                    <td>{{ field.value(entity) }}</td>
                {% endfor %}

                <td>
                    {% include 'ZechimAppBundle::Default/crud/actions.html.twig' with
                        {
                            'actions': actions.getByToolbar('datagrid'),
                            'entity': entity,
                            'router': router
                        }
                    %}
                </td>

            {% endblock %}
        </tr>

    {% endfor %}

{% endblock %}