{% extends 'ZechimAppBundle::Default/crud/show.html.twig' %}

{% set back = actions.getByAction('index').dispatcherRoute.generate(router, entity, {request: request}) %}

{% block content_left %}
    <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span></h2> <br />

    <table class="table table-striped table-bordered table-hover table-condensed">
        <tbody>
            {% block loop_item %}
                {% for field in fields %}
                    <tr>
                        <td width="120px"><b>{{ field.label | trans }}</b></td>
                        <td>{{ field.value(entity) }}</td>
                    </tr>

                {% endfor %}

            {% endblock %}
        </tbody>
    </table>

{% endblock %}

{% block actions %}
    <br />

   {% include 'ZechimAppBundle::Default/crud/actions.html.twig' with
        {
            'actions': actions.getByToolbar('show'),
            'entity': entity,
            'router': router
        }
    %}

{% endblock %}