{% extends 'ZechimAppBundle::Dispatcher/index.html.twig' %}

{% block thead %}
    <th>ID</th>
    <th>{{ "trans.label.name" | trans }}</th>
    <th>{{ "trans.label.username" | trans }}</th>
    <th>{{ "trans.label.active" | trans }}</th>
    <th>{{ "trans.label.createdBy" | trans }}</th>
    <th>{{ "trans.label.updatedBy" | trans }}</th>
    <th></th>

{% endblock %}

{% block loop_item %}
    <tr>
        <td>{{ entity.id }}</td>
        <td>{{ entity.name }}</td>
        <td>{{ entity.username }}</td>
        <td>{{ ('trans.message.' ~ entity.active) | trans }}</td>
        <td>{{ entity.createdBy }} ({{ entity.createdAt | date('d/m/Y H:i:s') }})</td>
        <td>{{ entity.updatedBy }} ({{ entity.updatedAt | date('d/m/Y H:i:s') }})</td>
        <td>
            {% include 'ZechimAppBundle::Default/crud/actions.html.twig' with
                {
                    'actions': actions.getByToolbar('datagrid'),
                    'entity': entity,
                    'router': router
                }
            %}
        </td>
    </tr>

{% endblock %}