{% extends 'ZechimAppBundle::Dispatcher/show.html.twig' %}

{% block loop_item %}
    <tr>
        <td width="120px"><b>{{ 'trans.label.name' | trans }}</b></td>
        <td>{{ entity.name }}</td>
    </tr>

    <tr>
        <td width="120px"><b>{{ 'trans.label.username' | trans }}</b></td>
        <td>{{ entity.name }}</td>
    </tr>

    <tr>
        <td width="120px"><b>{{ 'trans.label.active' | trans }}</b></td>
        <td>{{ ('trans.message.' ~ entity.active) | trans }}</td>
    </tr>

    <tr>
        <td width="110px"><b>{{ 'trans.label.createdBy' | trans }}</b></td>
        <td>{{ entity.createdBy }} ({{ entity.createdAt | date('d/m/Y H:i:s') }})</td>
    </tr>

    <tr>
        <td width="110px"><b>{{ 'trans.label.updatedBy' | trans }}</b></td>
        <td>{{ entity.updatedBy }} ({{ entity.updatedAt | date('d/m/Y H:i:s') }})</td>
    </tr>

    <tr>
        <td><b>{{ 'trans.label.user_permission' | trans }}</b></td>
        <td>
            {% for userPermission in entity.userPermission %}
                {{ userPermission.name }}

                {% if loop.last == false %},{% endif %}
            {% endfor %}
        </td>
    </tr>

{% endblock %}