{% extends 'ZechimAppBundle::root.html.twig' %}

{% block header %}
	<br />

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="#" class="navbar-brand">{{ "trans.application.name" | trans }} ({{ version }})</a>
			</div>

			{{ MENU_render() }}
		</div>
	</nav>

{% endblock %}
