<nav class="collapse navbar-collapse" id="bs-navbar">
	<ul class="nav navbar-nav">
		{% for item in menu %}
			<li class="{% if item | length %}dropdown{% endif %}">
				<a {% if item | length %}data-toggle="dropdown" class="dropdown-toggle"{% endif %} href="{{ MENU_generate_route(item.item) }}">
                    	{% if item.item.icon %}
							<i class="{{ item.item.icon}} "></i>
						{% endif %}

						{{ item.item.menuName | trans }}

						{% if item | length %}<span class="caret"></span>{% endif %}
				</a>
                {{ MENU_render_submenu(item) }}
			</li>
		{% endfor %}
	</ul>

	<ul class="nav navbar-nav navbar-right">
		<li><a href="#">{{ app.user.name }} ({{ app.user.username }})</a></li>
		<li><a href="{{ path('zechim_app_login_logout') }}">{{ "trans.action.logout" | trans }}</a></li>
	</ul>
</nav>
