<nav>
	<ul class="pagination">
        {% if pagination.pages > 0 %}
            {% for i in range(1, pagination.pages) %}
                {% set parameters = pagination.parameters %}
                {% set parameters = pagination.parameters|merge({(pagination.page_parameter): i}) %}

				<li><a href="{{ path(pagination.route, parameters) }}">{{ i }}</a></li>
            {% endfor %}

        {% endif %}
	</ul>
</nav>