<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ "trans.application.name" | trans }} {{ version }}</title>
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	<div class="container-fluid">
			{% block header %}{% endblock %}

			<div class="row">
				<div class="col-xs-12">
                    <div class="bs-callout">
                        {{ MESSAGE_render() }}
	        		    {% block body %}{% endblock %}
                    </div>
        		</div>
	        </div>
        </div>

		<script type="text/javascript">
			var basePath = '{{ app.request.basePath }}';
		</script>
        {% javascripts
            '@ZechimAppBundle/Resources/public/js/vendor/jquery-3.1.1.min.js'
            '@ZechimAppBundle/Resources/public/js/vendor/jquery-ui.min.js'
            '@ZechimAppBundle/Resources/public/css/bootstrap/3.2.0/js/bootstrap.min.js'
            '@ZechimAppBundle/Resources/public/js/vendor/jquery.mask.min.js'
            '@ZechimAppBundle/Resources/public/js/default.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
