{% for action in actions %}
    {% if PERMISSION_is_granted(action.dispatcherRoute.roles) %}
        <a title="" class="btn btn-{{ action.class }}" href="{{ action.dispatcherRoute.generate(router, entity, {request: request}) }}" role="button">
            <span class="glyphicon glyphicon-{{ action.icon }}" aria-hidden="true"></span>
        </a>
    {% endif %}

{% endfor %}