{% extends 'ZechimAppBundle::base.html.twig' %}

{% block body %}
    <h1>{% block title %}{% endblock %}</h1>

    <br />

    <form action="{{ form_action }}" method="POST" class="form-horizontal">
        <div class="row">
            <div class="col-xs-3">
                {% block form_left %}
                    {{ form_rest(form) }}

                {% endblock %}
            </div>

            <div class="col-xs-9">
                {% block form_right %}{% endblock %}
            </div>
        </div>

        {{ form_rest(form) }}

        {% block form_button %}
            <button title="{{ 'trans.action.save' | trans }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>

        {% endblock %}
    </form>

    <br />

    <a title="{{ 'trans.action.back' | trans }}" href="{{ back }}" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </a>

{% endblock %}