{% extends 'ZechimAppBundle::Dispatcher/show.html.twig' %}

{% block loop_item %}
    <tr>
        <td width="120px"><b>{{ 'trans.label.name' | trans }}</b></td>
        <td>{{ entity.name }}</td>
    </tr>

    <tr>
        <td><b>{{ 'trans.label.user_action' | trans }}</b></td>
        <td>
            {% for userAction in entity.userAction %}
                {{ userAction.name }}
                {% if loop.last == false %}<br />{% endif %}
            {% endfor %}
        </td>
    </tr>

{% endblock %}